<h1 class="ls-title-intro ls-ico-cart">Pedidos</h1>
  <h3 class="ls-title-3">Importar Pedidos</h3>
      <%= form_tag import_orders_path, multipart: true do %>
      <p><%= file_field_tag :file %></p>
      <p><%= submit_tag "Importar Pedido" %></p>
<% end %>
<hr>
<p><h3>Todos os pedidos</h3></p>
<% if @orders.blank? %>
  <p><h4>Não há pedidos a serem exibidos</h4></p>
<% else %>
  <% @orders.each do |order| %>
    <span>
      <%= link_to "Pedido ##{order.id}", order_path(order) %></p></td>
      <p><strong>Valor Total: </strong><%=order.price%></p>
      <p><strong>Importado em: </strong><%=order.created_at.to_date %></p>
      <p><strong>Nome do Arquivo: </strong><%=order.filename %></p>
      <%= button_to 'Excluir Pedido',order,
      method: :delete, data: { confirm: 'Você tem certeza?' },
      class: 'ls-btn-danger'%>
      <hr>
    </span>
  <% end %>
<% end %>
