<h1>Itens</h1>
<% @order.order_item.each do |item| %>
<h3><strong><p>Item #<%=item.id %></strong></p></h3>
<strong><p>Nome do Comprador: </strong><%=item.purchaser_name %></p>
<strong><p>Descrição do Item: </strong><%=item.item_description %></p>
<strong><p>Preço do Item: </strong><%=item.item_price %></p>
<strong><p>Quantidade de Itens: </strong><%=item.purchase_count %></p>
<strong><p>Nome do Vendedor: </strong><%=item.merchant_name %></p>
<strong><p>Endereço do Vendedor: </strong><%=item.merchant_address %></p>
<strong><p>Preço Total: </strong><%=item.total_price %></p>
<hr>
<% end %>
